<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
</head>
<body>
<h1>Where can you reach us</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dolor dolores eaque libero nulla omnis praesentium ullam, voluptatum. Eveniet exercitationem magnam similique! Ab aperiam assumenda dignissimos perspiciatis porro sint, sunt!</span><span>Aperiam doloremque doloribus eum eveniet expedita, hic impedit inventore iusto laborum maiores modi nam nobis numquam officia pariatur perferendis, quae quam quidem quos sunt unde velit veritatis voluptatem. Ducimus, molestiae.</span><span>Deleniti fugit iure minima neque saepe. Beatae commodi culpa dicta dolorem, ducimus eaque labore minima natus obcaecati provident recusandae repellendus tempore vel? Aliquam aspernatur distinctio esse quasi quis ut veritatis.</span></p>
</body>
</html>