<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
    {% load static %}
</head>
<body>
<h1>MY GALLERY</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse libero maxime odio. Alias dolorum error hic magnam quae quas, quia reiciendis ullam. Ea expedita laborum nesciunt nobis perferendis quaerat voluptatem!</span><span>Alias, aliquid assumenda at commodi culpa debitis error esse eum ex exercitationem libero molestiae perspiciatis, voluptatum. Assumenda illo illum libero molestiae perferendis quidem, ullam! Consectetur deserunt expedita labore pariatur voluptas.</span></p>
<img src="{% static 'assets/img.png' %}" alt="img0">
<img src="{% static 'assets/img_1.png' %}" alt="img1">
</body>
</html>