<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QuickDash Home</title>
    <style>
        h1:hover{
            color: blue;
        }
    </style>
</head>
<body>
<h1>Welcome to QuickDash</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, accusantium, animi aspernatur at aut beatae delectus dicta dignissimos distinctio eligendi fugit harum incidunt nobis obcaecati officia pariatur rem, vero voluptate!</span><span>Aliquid architecto aspernatur aut debitis earum eligendi harum itaque iure, iusto libero maiores mollitia nemo nesciunt nobis perspiciatis praesentium provident tempora. Accusantium culpa, ea nulla quos sapiente sint temporibus tenetur?</span><span>Earum et expedita explicabo fuga, fugit magnam magni minima voluptate? Cum dolorem suscipit voluptate! Aliquam, assumenda eum fugit harum iste quas rem soluta vel voluptatem voluptatum. Earum quidem tempore vel!</span></p>

</body>
</html>